.container{
  margin: auto;
  max-width: 700px;
}

.calListBlock{
  background-color: white;
  width: 600px;
  padding: 50px;
}

.inputBlock{
  display: flex;
}
.inputOne, .inputTwo{
  width: 40%;
}

.submitBtn{
  border:none;
  padding :5px 9px;
  border-radius:10px;
  cursor:pointer;
}

.budgetResults{
  display: flex;
  justify-content: right;
}

input{
  width: 100%;
}